@reference "../styles/main.css";

.pswp__button {
    @apply transition flex items-center justify-center;
    background-color: rgba(0, 0, 0, 0.4);
    height: 3rem;
    width: 3rem;
    margin-right: 0;
}
.pswp__button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.pswp__button:active {
    background-color: rgba(0, 0, 0, 0.6);
}
.pswp__button--zoom, .pswp__button--close {
    @apply mt-4 rounded-xl active:scale-90;
}
.pswp__button--zoom {
    margin-right: 0.625rem;
}
.pswp__button--close {
    margin-right: 1rem;
}
