@reference "../styles/main.css";

.scrollbar-base.os-scrollbar {
    @apply transition-all;
    pointer-events: unset;

    &.os-scrollbar-horizontal {
        height: 1rem;
        padding: 0.25rem 0.5rem;
        .os-scrollbar-track .os-scrollbar-handle {
            @apply rounded-full;
            height: 0.25rem;
        }
        &:hover .os-scrollbar-track .os-scrollbar-handle {
            height: 0.5rem;
        }
    }

    &.os-scrollbar-vertical {
        width: 1rem;
        padding: 0.25rem;
        .os-scrollbar-track .os-scrollbar-handle {
            @apply rounded-full;
            width: 0.25rem;
        }
        &:hover .os-scrollbar-track .os-scrollbar-handle {
            width: 0.5rem;
        }
    }
}

.os-scrollbar {
    &.scrollbar-auto {
        --os-handle-bg: var(--scrollbar-bg);
        --os-handle-bg-hover: var(--scrollbar-bg-hover);
        --os-handle-bg-active: var(--scrollbar-bg-active);
    }
    &.scrollbar-dark {
        --os-handle-bg: var(--scrollbar-bg-dark);
        --os-handle-bg-hover: var(--scrollbar-bg-hover-dark);
        --os-handle-bg-active: var(--scrollbar-bg-active-dark);
    }
    &.scrollbar-light {
        --os-handle-bg: var(--scrollbar-bg-light);
        --os-handle-bg-hover: var(--scrollbar-bg-hover-light);
        --os-handle-bg-active: var(--scrollbar-bg-active-light);
    }
}
